In [ ]:
print("Hello World")

Hello World

In [2]:
#Revisão de função

def soma(a,b):
    return a + b

resultado = soma(10, 50)

print(resultado)

60

In [3]:
#Manipulação de listas


frutas = ["maça", "pera", "abacaxi"]

for alimento in frutas:
    print(frutas)

['maça', 'pera', 'abacaxi']
['maça', 'pera', 'abacaxi']
['maça', 'pera', 'abacaxi']

In [ ]:
#abrindo arquivos com pandas

import pandas as pd
from pandas import DataFrame


dados = r'C:\Users\dante\OneDrive\Documentos\5. Estudos\5.8 Python\treinando\Dashboard Salárioss.xlsx'

df = pd.read_excel(dados)

print("----Cabeçalho----")
print(df.head(5))
print("----Rodapé----")
print(df.tail(5))
print("----Nome das colunas----")
print(df.columns)
print("----Resumo Estatístico----")
print(df.describe())

----Cabeçalho----
                 Name  ... Employee Annual Salary
0      AARON  ELVIA J  ...              $88967.00
1    AARON  JEFFERY M  ...              $80778.00
2       AARON  KARINA  ...              $80778.00
3  AARON  KIMBERLEI R  ...              $84780.00
4  ABAD JR  VICENTE M  ...             $104736.00

[5 rows x 4 columns]
----Rodapé----
                     Name  ... Employee Annual Salary
32176  ZYGADLO  MICHAEL J  ...              $97448.00
32177   ZYGOWICZ  PETER J  ...              $86520.00
32178    ZYMANTAS  MARK E  ...              $83616.00
32179  ZYRKOWSKI  CARLO E  ...              $86520.00
32180  ZYSKOWSKI  DARIUSZ  ...             $110352.00

[5 rows x 4 columns]
----Nome das colunas----
Index(['Name', 'Position Title', 'Department', 'Employee Annual Salary'], dtype='object')
----Resumo Estatístico----
<bound method NDFrame.describe of                      Name  ... Employee Annual Salary
0          AARON  ELVIA J  ...              $88967.00
1        AARON  JEFFERY M  ...              $80778.00
2           AARON  KARINA  ...              $80778.00
3      AARON  KIMBERLEI R  ...              $84780.00
4      ABAD JR  VICENTE M  ...             $104736.00
...                   ...  ...                    ...
32176  ZYGADLO  MICHAEL J  ...              $97448.00
32177   ZYGOWICZ  PETER J  ...              $86520.00
32178    ZYMANTAS  MARK E  ...              $83616.00
32179  ZYRKOWSKI  CARLO E  ...              $86520.00
32180  ZYSKOWSKI  DARIUSZ  ...             $110352.00

[32181 rows x 4 columns]>

In [ ]:
#condicionais